body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: #FFFFFF;
}

/* hero section */
.hero-section {
    background-color: #2D25A0; 
    height: 677px;
    width: 100%;    
}
.top-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10% 8%;
} 
.content h2{
    color: #fff;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 27px;
    margin-top: 0px; 
}
.live-btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.live-btn:hover{
    background-color: #000;
}
.image img{
    width: 556px;
    height: 438px;
    padding-left: 10%;
}
.ban{
    transition: transform 1s;
}
.ban:hover {
    transform: translate(-50px, -50px);
}

/* ----------------------------All pleayers Section----------------------------  */
.players-info{
    padding: 5% 10%;
}
.all-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 45px;
    grid-column-gap: 30px;
}
.player {
    width: 330px;
    height: auto;
    box-shadow: 0px 0px 50px 0px #e2e2e2;
    padding: 12px;
}
.player img{
    width: 330px;
    height: 256px
}

/* --------------Highlights Section  --------------*/
 .highlights{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5% 10%;
}
.high-content{
    padding-top: 50px;
}
.high-content h2{
    color: #000;
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    margin-bottom: 27px;
    margin-top: 0px; 

}
.high-btn{
    background-color: #E02C6D;
    padding: 10px 24px;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.high-btn:hover{
    background-color: #000;
}
.high-image img{
    width: 100%;
}

/* ----------------------------Footer section----------------------------  */
footer{
    text-align: center;
    padding-bottom: 50px;
}
.footer-logo img{
    width: 483.87px;
    height: 110px;
}
.social-icon i{
    color: #E02C6D;
    height: 25px;
    width: 22px;
}

 /* ----------------------------Media Queries----------------------------   */
@media screen and (max-width: 770px) {
    .hero-section {
        background-color: #2D25A0; 
        height: auto;
        width: 900px;  
        
          
    }
    .top-section{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
}

.image img{
    width: 500px;
    height: 450px;
    padding-top: 100px;

}

.players-info{
    padding-left: 33%;
    padding-right: 33%;
    
}
.all-players{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 45px;
}

.highlights{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
    
    
}
.high-content h2{
    font-size: 35px;
    margin-bottom: 27px;
    padding: 0px;    

} 
.high-image img{
    width: 600px;
    text-align: center;
}
footer{
    margin-right: -170px;   
}}

@media only screen and (min-width: 771px) and (max-width:1170px) {
    .hero-section {
        background-color: #2D25A0; 
        height: auto;
        width: 1200px;  
}
    .top-section{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}

.image img{
    width: 600px;
    height: 550px;

}

.players-info{
    padding-left: 33%;
    padding-right: 33%;
    
}
.all-players{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 45px;
}

.highlights{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 0;
}
.high-content h2{
    font-size: 50px;
    margin-bottom: 27px;
    padding: 0px;    

} 
.high-image img{
    width: 800px;
    padding-top: 20px;
}
footer{
    margin-right: -170px;   
}

}